/venv/
.venv

# Misc
**/.DS_Store

# env files
.env
.env.*

# VS Code

**/*.code-workspace

# Python cache
**/__pycache__/

# distribution files
dist/

# IPython Notebooks
src/notebooks/

# VS Code settings
.vscode/

.flake8

# Coverage files
.coverage
.coverage.*
htmlcov/
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
coverage.xml
*.coveragerc